<div class="home">
    <h1>Welcome to Our Restaurant</h1>
    <h2>Delicious food awaits you!</h2>
    <p>
        At The Food Heaven, we serve a wide range of delicious dishes crafted with the freshest ingredients and a
        touch of love. </p>
    <p>Whether you're here for a family dinner, a cozy date, or just to satisfy your cravings,</p>
    <p> our vibrant ambiance and exceptional service will make every visit unforgettable.</p>

    <p>Come, savor the taste of heaven on your plate!</p>
</div>